// Файл обнуляющих стилей
@import "nullstyle.scss";
// Подключенные шрифты
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
.container {
}
.wrapper {
		
}


//На главной странице header и меню
.main {
	height: 100%;
	
	position: relative;
	z-index: 2;
	background: url("../../img/header/Color_Fill_1.png") 0 0/cover no-repeat;
		&__header {
			padding: 10px;
			position: relative;
			z-index: 3;
			background: url("../../img/header/Rectangle_1_copy_2.png") 0 0/cover no-repeat;
		}

		&__home {
			max-width: 1440px;
			
			margin: 0 auto;
			font-family: Raleway;
		}

		&__row {
			padding: 60px 0 170px 0;
			display: flex;
			justify-content: space-between;
		}

		&__dart {
			background:url("../../img/header/icons/Shape_1.png") 0 0 no-repeat;
			padding: 0 0 0 40px;
		}

		&__dart a{
			display: inline-block;
			color: #fff;
			font-size: 15px;
			line-height: 15px;
			text-align: left;
			text-transform: uppercase;
			font-weight: 400;
			.bolt{
				font-weight: 700;
			}
		}

		&__menu {
			font-weight: 600;
		}

		&__menu ul{
			display: flex;
			align-items: center;
		}

		&__menu a{
			color: #ffffff;
			font-size: 15px;
			line-height: 25px;
			margin: 0 25px 0 25px;
			&:hover{
				color: #000;
			}
		}

		&__registration{
			font-size: 12px;
			line-height: 25px;
		}

		&__registration a{
			border: 1px solid #fff;
			color: #ffffff;
			padding: 6px 20px;
			border-radius: 2px;
		}
}

.list {
}
.registration-button {
}


// на главной странице контент и видео

.main {

	&__box {
		display: flex;
		justify-content: space-between;
		margin: 0 -10px;
	}

	&__content {
		max-width: 600px;
		margin: 0 0 180px 0;
		padding: 0 10px;
	}

	&__title {
		color: #ffffff;
		font-size: 55px;
		font-weight: 800;
		line-height: 65px;
		text-transform: uppercase;
		margin: -13px 0 15px 0;
	}

	&__text {
		color: #ffffff;
		font-family: Raleway;
		font-size: 18px;
		line-height: 35px;
		margin: 0 0 28px 0;
	}

	&__button {
		display: flex;
	}

	&__bye {
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #061e37;
		& a{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 150px;
			height: 55px;
			color: #ffffff;
			font-family: Roboto;
			font-size: 15px;
			text-transform: uppercase;
		}
	}

	&__try {
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #fff;
		margin: 0 0 0 30px;
		& a{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 160px;
			height: 55px;
			color: #1b3147;
			font-family: Roboto;
			font-weight: 700;
			font-size: 15px;
			text-transform: uppercase;
		}
	}

	&__video{
		width: 600px;
		height: 320px;
		padding: 0 10px;
		& iframe{
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
	}
}



