@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #17e0c2;
  z-index: 2;
}
.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
  padding: 0 10px;
}
@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }
}
.header__logo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
  display: block;
  padding: 0 10px 0 0;
}
.header__logo-text {
  position: relative;
  z-index: 3;
}
.header__logo-name-1line {
  color: #ffffff;
  font-size: 15px;
  line-height: 15px;
  text-align: left;
  text-transform: uppercase;
  font-family: Raleway;
}
.header__logo-name-2line {
  color: #ffffff;
  font-family: Raleway;
  font-size: 15px;
  line-height: 15px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    position: relative;
    z-index: 3;
    display: block;
    width: 30px;
    height: 20px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.header__menu {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .header__menu {
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #1be8c0;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .header__list {
    display: block;
  }
}
.header__list li {
  list-style: none;
  margin: 0 25px 0;
}
@media (max-width: 992px) {
  .header__list li {
    margin: 0 15px 0;
  }
}
@media (max-width: 767px) {
  .header__list li {
    margin: 0 0 20px 0;
  }
}
.header__link {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
}
.header__link:hover {
  color: #000;
}
.header__registration {
  position: relative;
  z-index: 2;
  margin: 0 15px 0 0;
}
.header__registration-button a {
  color: #ffffff;
  font-family: Raleway;
  font-size: 12px;
  padding: 6px 20px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  display: inline-block;
  white-space: nowrap;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  background: url("../../img/header/Color_Fill_1.png") 0 0/cover no-repeat;
}
.main__header {
  padding: 170px 0 0 0;
  background: url("../../img/header/Rectangle_1_copy_2.png") 0 0/cover no-repeat;
}
@media (max-width: 767px) {
  .main__header {
    padding: 120px 0 0 0;
  }
}
.main__home {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px 187px;
  font-family: Raleway;
}
@media (max-width: 992px) {
  .main__home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px 100px;
  }
}
@media (max-width: 767px) {
  .main__home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px 100px;
  }
}
.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  .main__box {
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .main__box {
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 767px) {
  .main__box {
    margin: 0 auto;
  }
}
.main__content {
  max-width: 600px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
}
@media (max-width: 1200px) {
  .main__content {
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .main__content {
    margin: 0 auto 50px;
  }
}
@media (max-width: 767px) {
  .main__content {
    margin: 0 auto 50px;
  }
}
.main__title {
  color: #ffffff;
  font-size: 55px;
  font-weight: 800;
  line-height: 65px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .main__title {
    max-width: 475px;
  }
}
@media (max-width: 992px) {
  .main__title {
    max-width: 475px;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main__title {
    text-align: center;
    font-size: 50px;
  }
}
.main__text {
  color: #ffffff;
  font-family: Raleway;
  font-size: 18px;
  line-height: 35px;
  margin: 0 0 28px 0;
}
@media (max-width: 992px) {
  .main__text {
    margin: 15px auto 30px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main__text {
    margin: 15px auto 30px;
    text-align: center;
  }
}
.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992px) {
  .main__button {
    max-width: 750px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .main__button {
    max-width: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main__bye a {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #061e37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 55px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
}
.main__try a {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #fff;
  margin: 0 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 55px;
  color: #1b3147;
  font-family: Raleway;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
.main__video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 114px 0;
  max-width: 600px;
  height: 320px;
  border-radius: 5px;
  border: 1px solid #061e37;
  background: url("../../img/header/Rounded_Rectangle_2.png") 0 0/100% 100% no-repeat, url("../../img/header/Rounded_Rectangle_2_copy.png") 0 0/100% 100% no-repeat;
}
@media (max-width: 992px) {
  .main__video {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .main__video {
    margin: 0 auto;
  }
}
.main__video-play {
  text-align: center;
}
.main__video-text {
  color: #061e37;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.easy__container {
  margin: 0 auto;
  max-width: 1454px;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  .easy__container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .easy__container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .easy__container {
    max-width: none;
  }
}
.easy__title {
  margin: 100px 0 25px 0;
}
.easy__subtitle {
  color: #b0bec5;
  font-family: Raleway;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 20px 0;
}
.easy__text {
  max-width: 565px;
  margin: 0 auto 97px;
}
.easy__row {
  max-width: 1434px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}
@media (max-width: 767px) {
  .easy__row {
    display: block;
  }
}
.easy__element {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33, 3%;
          flex: 0 1 33, 3%;
  text-align: center;
  max-width: 365px;
  margin: 0 auto 78px;
  padding: 0 10px;
}
.easy__element-image {
  margin: 0 0 40px 0;
}
.easy__element-title {
  color: #061e37;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin: 0 0 20px 0;
}
.easy__element-description {
  color: #78909c;
  font-family: Raleway;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  max-width: 360px;
}
.easy__tap {
  text-align: center;
}
.easy__button {
  text-align: center;
  margin: 0 0 100px 0;
}

.statistics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .statistics__row {
    display: block;
  }
}
.statistics__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
@media (max-width: 1200px) {
  .statistics__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 992px) {
  .statistics__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.statistics__image {
  padding: 0 0 0 10px;
}
.statistics__text {
  width: 140px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  padding: 0 0 0 23px;
}
.statistics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 150px;
}
.statistics__content-1 {
  background-color: #80d8ff;
}
.statistics__content-2 {
  background-color: #82b1ff;
}
.statistics__content-3 {
  background-color: #b388ff;
}
.statistics__content-4 {
  background-color: #ea80fc;
}

.services {
  max-width: 820px;
  padding: 0 10px;
  margin: 0 auto;
}
.services__title {
  margin: 100px 0 30px 0;
}
.services__text {
  max-width: 565px;
  margin: 0 auto 48px;
}
.services .service-menu li {
  position: relative;
}
.services .service-menu__list li:hover .service-sub-menu__list {
  display: block;
}
.services .service-menu__link {
  display: inline-block;
  padding: 0 0 50px 0;
  color: #061e37;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.services .arrow {
  position: absolute;
  right: 0;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 8px solid #000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.services .service-sub-menu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 10px;
  padding: 25px 0 0 0;
}
.services .service-sub-menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.what {
  background: url("../../img/what/Rectangle_1_copy_3.png") 0 0/cover no-repeat;
}
.what__content {
  background: url("../../img/what/Rectangle_1_copy_5.png") 0 0/cover no-repeat;
}
.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .what__row {
    display: block;
  }
}
.what__left {
  margin: 134px 0;
}
@media (max-width: 767px) {
  .what__left {
    text-align: center;
    margin: 0 auto;
  }
}
.what__title {
  max-width: 441px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 45px;
  font-weight: 400;
  margin: 0 0 20px 0;
  line-height: 55px;
}
@media (max-width: 767px) {
  .what__title {
    text-align: center;
    max-width: none;
    padding: 55px 0 0;
  }
}
.what__subtitle {
  max-width: 514px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 85px 0;
}
@media (max-width: 767px) {
  .what__subtitle {
    text-align: center;
    max-width: none;
    margin: 0 0 20px 0;
  }
}
.what__get a {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #061e37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 55px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .what__get a {
    margin: 0 auto 70px;
  }
}
.what__box {
  margin: 0 0 70px 0;
}
.what__box:last-child {
  margin: 0;
}
@media (max-width: 767px) {
  .what__box:last-child {
    padding: 0 0 100px 0;
  }
}
@media (max-width: 767px) {
  .what__box {
    margin: 0 0 40px 0;
  }
}
.what__arrow-up {
  margin: 0 325px 33px 0;
  text-align: right;
}
.what__arrow-down {
  text-align: right;
  margin: 33px 325px 0 0;
}
.what__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .what__right-block {
    display: block;
  }
}
.what__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
}
@media (max-width: 767px) {
  .what__image {
    display: block;
    text-align: center;
  }
}
.what__description-top {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 30px;
}
.what__description-down {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 30px;
}
.what__description-title {
  color: #061e37;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin: 0 0 20px 0;
}
.what__description-text {
  max-width: 555px;
  color: #78909c;
  font-family: Raleway;
  font-size: 15px;
  font-style: italic;
  line-height: 25px;
}

.our__content {
  max-width: 665px;
  margin: 0 auto;
  padding: 0 10px;
}
.our__header {
  margin: 0 0 58px 0;
}
.our__title {
  margin: 100px 0 29px 0;
}
.our__text {
  padding: 0 10px;
}
.our__foto {
  margin: 0 0 30px 0;
}
.our__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 500px) {
  .our__row {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
.our__center {
  margin: 0 20px;
}
.our__description {
  margin: 0 0 30px 0;
}
.our__username {
  color: #061e37;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  margin: 0 0 13px 0;
}
.our__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our__social-logo {
  margin: 0 15px 90px;
}

.contact {
  background-color: #fafafa;
}
.contact__content {
  max-width: 620px;
  padding: 0 10px;
  margin: 0 auto;
}
.contact__header {
  padding: 50px 0 0 0;
}
.contact__title {
  margin: 0 0 29px 0;
}
.contact__text {
  color: #061e37;
  margin: 0 0 50px 0;
}
.contact__row1 {
  margin: 0 -10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 450px) {
  .contact__row1 {
    display: block;
    margin: 0 auto;
  }
}
.contact__element {
  padding: 0 10px 0;
  width: 100%;
}
.contact__element input {
  background-color: #fafafa;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #061e37;
  color: #061e37;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  padding: 20px;
}
@media (max-width: 450px) {
  .contact__element {
    padding: 0 10px 10px;
  }
}
.contact__row2 {
  margin: 0 -10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 450px) {
  .contact__row2 {
    display: block;
    margin: 0 auto;
  }
}
.contact__row3 {
  margin: 0 -10px 20px;
}
@media (max-width: 450px) {
  .contact__row3 {
    display: block;
    margin: 0 auto 20px;
  }
}
.contact__row4 {
  margin: 0 -10px 40px;
  padding: 0 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 450px) {
  .contact__row4 {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 50px 0;
  }
}
.contact__textarea {
  padding: 0 10px 0;
  width: 100%;
}
.contact__textarea textarea {
  width: 100%;
  height: 150px;
  resize: none;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #061e37;
  color: #061e37;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 20px;
}
.contact__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0;
}
@media (max-width: 450px) {
  .contact__checkbox {
    margin: 0 10px 20px;
  }
}
.contact__checkbox input {
  width: 16px;
  height: 16px;
}
.contact__checkbox_subscribe {
  color: #061e37;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  margin: 0 0 0 9px;
}
.contact__button {
  margin: 0 10px 0;
}

.footer {
  background-color: #061e37;
}
.footer__content {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}
.footer__row1 {
  padding: 98px 0 0 0;
  margin: 0 0 54px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  background: url("../../img/footer/icons/Shape_1.png") 0 0 no-repeat;
  padding: 0 0 0 40px;
}
.footer__logo a {
  color: #ffffff;
  font-family: Raleway;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
}
.footer__logo a .bolt {
  font-family: Raleway;
  font-weight: 700;
}
.footer__menu {
  margin: 0 -25px 0;
}
.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .footer__menu-list {
    display: block;
  }
}
.footer__menu-list a {
  color: #ffffff;
  font-family: Raleway;
  font-size: 15px;
  line-height: 25px;
}
.footer__menu-list li {
  padding: 0 25px 0;
}
.footer__row2 {
  padding: 0 0 104px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__items-list a {
  opacity: 0.5;
  color: #ffffff;
  font-family: Raleway;
  font-size: 15px;
  line-height: 25px;
  margin: 0 19px 0 0;
}
.footer__items-list li::before {
  content: " ";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  display: inline-block;
  line-height: 25px;
  margin: 0 19px 0 0;
}
.footer__items-list li:first-child::before {
  content: " ";
  display: none;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}
.footer__social-logo {
  padding: 0 10px;
}

.title {
  color: #061e37;
  font-family: Raleway;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

.text {
  color: #b0bec5;
  font-family: Raleway;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.button a {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 150px;
  height: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #1de9b6;
}