@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.main {
  height: 100%;
  position: relative;
  z-index: 2;
  background: url("../../img/header/Color_Fill_1.png") 0 0/cover no-repeat;
}
.main__header {
  padding: 10px;
  position: relative;
  z-index: 3;
  background: url("../../img/header/Rectangle_1_copy_2.png") 0 0/cover no-repeat;
}
.main__home {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Raleway;
}
.main__row {
  padding: 60px 0 170px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__dart {
  background: url("../../img/header/icons/Shape_1.png") 0 0 no-repeat;
  padding: 0 0 0 40px;
}
.main__dart a {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
}
.main__dart a .bolt {
  font-weight: 700;
}
.main__menu {
  font-weight: 600;
}
.main__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__menu a {
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  margin: 0 25px 0 25px;
}
.main__menu a:hover {
  color: #000;
}
.main__registration {
  font-size: 12px;
  line-height: 25px;
}
.main__registration a {
  border: 1px solid #fff;
  color: #ffffff;
  padding: 6px 20px;
  border-radius: 2px;
}

.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}
.main__content {
  max-width: 600px;
  margin: 0 0 180px 0;
  padding: 0 10px;
}
.main__title {
  color: #ffffff;
  font-size: 55px;
  font-weight: 800;
  line-height: 65px;
  text-transform: uppercase;
  margin: -13px 0 15px 0;
}
.main__text {
  color: #ffffff;
  font-family: Raleway;
  font-size: 18px;
  line-height: 35px;
  margin: 0 0 28px 0;
}
.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__bye a {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #061e37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 55px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
}
.main__try a {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #fff;
  margin: 0 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 55px;
  color: #1b3147;
  font-family: Raleway;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
.main__video {
  width: 600px;
  height: 320px;
  padding: 0 10px;
}
.main__video iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.easy {
  margin: 0 auto;
  max-width: 1440px;
}
.easy__title {
  margin: 100px 0 25px 0;
}
.easy__subtitle {
  color: #b0bec5;
  font-family: Raleway;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 20px 0;
}
.easy__text {
  max-width: 565px;
  margin: 0 auto 97px;
  color: #b0bec5;
  font-family: Raleway;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}
.easy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}
.easy__element {
  text-align: center;
  max-width: 360px;
  margin: 0 0 78px;
  padding: 0 10px;
}
.easy__element-image {
  margin: 0 0 40px 0;
}
.easy__element-title {
  color: #061e37;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin: 0 0 20px 0;
}
.easy__element-description {
  color: #78909c;
  font-family: Raleway;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
.easy__tap {
  text-align: center;
}
.easy__button {
  text-align: center;
  margin: 0 0 100px 0;
}

.title {
  color: #061e37;
  font-family: Raleway;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

.button a {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 150px;
  height: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #1de9b6;
}

.statistics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.statistics__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.statistics__image {
  padding: 0 0 0 10px;
}
.statistics__text {
  width: 140px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  padding: 0 0 0 23px;
}
.statistics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.statistics__content-1 {
  background-color: #80d8ff;
}
.statistics__content-2 {
  background-color: #82b1ff;
}
.statistics__content-3 {
  background-color: #b388ff;
}
.statistics__content-4 {
  background-color: #ea80fc;
}